@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base{
  body{
    @apply text-[#002859] bg-white
    
  }
  h1,h2,h3,h4,h5,h6{
    @apply font-bold
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}